*{
    
    padding:0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

body{
    
    font-family: montserrat;
}
nav{
    
    background-color: bisque;
    height: 80px;
    width: 100%;
}

label.logo{
    color: palevioletred;
    font-size: 25px;
    line-height: 80px;
    padding: 0 100px;
    font-weight: bold;
    
}





nav ul{
   float: right;
    margin-right: 20px;
    margin-top: 25px;
    
}
nav ul li {
    
    display: inline-block;
    line-height: 80 px;
    margin: 0 5px;
}
nav ul li a {
    
    color: palevioletred;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}

a.active,a:hover{
    
   background: #1b9bff; 
    
    transition: .8s;
}

section{
    
   background-image: url("image/pic01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
   height: calc(100vh - 80px);
    
  
    
}
.button{
    
    position: absolute;
    top:60%;
    left:65%;
    transform: translate(-50%, -50%);
    
}

.btn{
    
    border:1px solid #fff;
    padding:10px 30px;
    color:#fff;
    text-decoration: none;
    transition-duration: 0.6s ease;
       
}

.btn:hover{
    background-color: darkgrey;
    
}

section.mid{
     background-image: url("image/pic02.jpg");
      background-repeat: no-repeat;
   
   height: calc(100vh - 80px);
    background-position: left;
    background-size: contain;
    
    
}

section.end{
    
   background-image: url("image/PIC03.webp");
     background-repeat: no-repeat;
   
   height: calc(100vh - 80px);
   
    background-size:cover;
    
}

.button{
    
    position: absolute;
    top:60%;
    left:65%;
    transform: translate(-50%, -50%);
    
}



.btn{
    
    border:1px solid #fff;
    padding:15px 30px;
    color:#fff;
    text-decoration: none;
    transition-duration: 0.6s ease;
       
}
footer {
  text-align: center;
  padding: 12px;
  background-color:red;
  color: white;
}
